* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 14px;
  color: #303133;
  background-color: #f5f7fa;
}

/* 清除标题默认边距 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* 清除列表默认样式 */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 链接 */
a {
  color: inherit;
  text-decoration: none;
}

/* 图片 */
img {
  max-width: 100%;
}